h2= config.app
p(
	translate-value-greeter="{{ ::from }}", 
	translate=".CONTENT")
a.button.icon-right.ion-chevron-right.button-calm(ui-state="STATE_TEST") Entrer sur le site

.tabs.tabs-icon-top
  a.tab-item
    i.icon.ion-home
    |  Home
  a.tab-item(ui-state="STATE_TEST")
    i.icon.ion-load-b
    |  Favorites
  a.tab-item(ui-state="STATE_TEST2")
    i.icon.ion-ios-infinite
    |  Settings


